.App {
  text-align: center;
  /* background-color: rgb(92, 196, 196); */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  background-color: rgb(92, 196, 196);
  font-size: 40px;
  color: white;
  border-style: solid;
  border-width: 1px;
  text-align: center; 
  border-radius: 15px;
}

.addExpenses{
  align-self: center;
  flex-direction: column;
  background-color: rgb(92, 196, 174);
  padding:7px 10px 7px 10px;  
  border-collapse: separate;
  border-spacing: 1px;
  border: 2px solid rgb(57, 124, 124);
  align-content:center; 
  border-radius: 5px;
}

.input-group-text{
  color:rgb(76, 161, 161);
}

.basic-addon1{
  color: rgb(76, 161, 161);
 }

.form-control:focus {
  border: 2px solid rgb(76, 161, 161);
  height: 10%;
}
.btn:focus{
  color:rgb(76, 161, 161);
}

.btn {
  color:rgb(76, 161, 161);
}

.searchExpenses{
  align-self: center;
  flex-direction: column;
  background-color: rgb(155, 209, 130);
  padding:7px 10px 7px 10px;
  border-collapse: separate;
  border-spacing: 1px;
  padding:7px 10px 7px 10px;
  border: 2px solid rgb(57, 124, 124);
  align-content:center;
  border-radius: 5px;  
}

.expensesList{
  border-style: solid; 
  border-width: 1px;  
  color:rgb(45, 170, 170);;
  border-collapse: separate;
  border-spacing: 3px; 
  }
  
.bold{
  font-weight :bold;
  color: white;
  background-color: rgb(92, 196, 196);

}

.col {
  width: 50%;
  overflow:hidden; 
}

.coll{
  width:10%;  
}

.total{ 
  border: 2px solid rgb(76, 161, 161);
  margin-left: 67%;
}
.total:hover{ 
  background-color: rgb(76, 161, 161);
}

.divheight {
  height: 35%;
}
.listhover{
  background-color: rgb(226, 219, 219);
}

.listhover:hover{
  background-color: rgb(152, 209, 209);
}

.input-group-text{
  background-color: lightgray;  
}

.updateExpenses{
  background-color: coral;
}

  


